.uploadImage > img {
  width: auto;
  height: 50%;
  border-radius: 100%;
}
.uploadImage {
  display: flex;
  margin-bottom: 5px;
}
.uploadImage > input {
  display: flex;
  padding: 0%;
  margin-left: auto;
  width: 50%;
  height: 50%;
}

.uploadImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

.uploadImage > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}
.uploadImage > img {
  width: 6vmax;
  border-radius: 100%;
}

.uploadImage > input::file-selector-button {
  height: 5vh;
  font: 400 1.8vmax cursive;
}
